.App {
  text-align: center;
}


.weapon {
  display: inline-block;
  width: 30%;
  margin: 1%;
  border: 3px solid #000;
}

.add-weapon label {
  display: block;
  margin-bottom: 5px;
}
.add-weapon .form-group {
  margin: 15px 0;
}

.add-weapon .form-group:last-of-type label {
  display: inline-block;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
